@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<htmn>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Index</title>
    </head>
    <body>
        <div>
            <h1>
                Nossa home-page.
            </h1>
        </div>

    </body>
</htm
